# Ignore everything
*

# But descend into directories
!*/

# but still exclude generated folders
*.nitro
*.output
*dist
*dist-ssr
*node_modules

# And permit certain files
!.dockerignore
!.env.example
!.gitignore
!compose.yaml
!Dockerfile
!LICENSE
!pre-commit

# And filetypes
!.gitkeep
!*.crt
!*.css
!*.html
!*.js
!*.json
!*.md
!*.mjs
!*.sh
!*.sql
!*.ts
!*.tsx
!*.yaml
!*.yml

# And include the mock idp stuff
infra/mock-idp/keys/*.pem
