BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth_gateway
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

SSO_IDP_ENTRY_POINT=http://localhost:4000/api/namespace/okta/saml/sso
SSO_IDP_ENTITY_ID=https://mock-okta.local/entityid/okta
SSO_EMAIL_DOMAIN=example.com
SSO_IDP_CERT=

TOKEN_LIFETIME=15m
